.team {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: var(--white-900);
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}
.header h2 {
    font-family: var(--font-varela-round);
    font-size: 2rem;
    line-height: 2.1875rem;
}
.header p {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.lineBreak {
    display: block;
    margin: 10px 0;
}

.members_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.ctaBtn {
    padding: 18px 32px;
    background: var(--ecx-colours-ruby);
    border-radius: 8px;
    font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .team {
    gap: 32px;
  }
  .members_ctn {
    gap: 20px;
  }
  .header p {
      width: 100%;
      font-size: 1.125rem;
      line-height: 1.5rem;
  }
  .ctaBtn {
      padding: 0.75rem 1.2rem;
      font-size: 1.125rem;
  }
}

@media screen and (max-width: 768px) {
    .ctaBtn {
        margin-top: 59px;
    }
    .header p {
        width: 100%;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    .ctaBtn {
        padding: 0.62rem 1rem;
        font-size: 0.875rem;
        border-radius: 0.375rem
    }
}