:root {
  --white-900: #fff;
  --black-900: #000;
  --greys-004: #808080;
  --greys-005: #4D4D4D;
  --greys-006: #2B2B2B;
  --ecx-colours-second-blue: #272E4B;
  --ecx-colours-dart: #2699E3;
  --ecx-colours-ruby: #F2443F;
  --ecx-colours-swift: #FAB12D;
  --ecx-colours-swift: #FAB12D;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-varela-round);
}
a {
    color: inherit;
    text-decoration: none;
}
button, .button {
    font-family: var(--font-varela-round);
    border: none;
    outline: none;
    cursor: pointer;
    transition: filter 0.2s;
}
button:hover, .button:hover {
    filter: brightness(1.1);
}
button:active, .button:active {
    filter: brightness(0.95);
}
ul {
    list-style: none;
}
input, textarea {
    outline: none;
}