.about {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.about_content_ctn {
    grid-column: span 6 / span 6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_title {
    font-size: 2rem;
    font-family: var(--font-varela-round);
}
.about_nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: start;
}
.about_nav > button {
    font-family: var(--font-varela-round);
    font-size: 1.5rem;
    background: none;
    line-height: 200%;
    border-bottom: 3px solid transparent;
    color: var(--black-900);
    white-space: nowrap;
}
.who-we-are :nth-child(1) {
    color: var(--ecx-colours-dart);
    border-bottom: 3px solid var(--ecx-colours-dart);
}
.mission :nth-child(2) {
    color: var(--ecx-colours-swift);
    border-bottom: 3px solid var(--ecx-colours-swift);
}
.vision :nth-child(3) {
    color: var(--ecx-colours-ruby);
    border-bottom: 3px solid var(--ecx-colours-ruby);
}
.paragraph {
    font-size: 1.25rem;
    height: 150px;
}
.lineBreak {
    display: block;
    margin: 10px 0;
}

.about_vector {
    position: absolute;
    width: 240px;
    height: 240px;
    z-index: -1;
}
.about_vector img {
    max-width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: contain;
}

.about_vector_ruby {
    top: -160px;
    right: -30px;
}
.about_vector_dart {
    top: 400px;
    left: -150px;
}



@media screen and (max-width: 1024px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about_content_ctn {
        align-items: center;
        gap: 24px;
    }
    .about_title {
        font-size: 1.75rem;
    }
    .about_nav {
        width: 100%;
        justify-content: space-between;
    }
    .about_nav > button {
        font-size: 1.25rem;
    }
    .paragraph {
        font-size: 1.125rem;
    }
    .about_vector {
        max-width: 130px;
        max-height: 130px;
    }
    .about_vector_ruby {
        top: -70px;
        right: -100px;
    }
    .about_vector_dart {
        top: 180px;
        left: -80px;
    }
}

@media screen and (max-width: 768px) {
    .about_title {
        font-size: 1.25rem;
        gap: 10px;
    }
    .about_nav {
        display: flex;
        gap: 20px;
    }
    .about_nav > button {
        font-size: 1rem;
    }
    .paragraph {
        font-size: 0.875rem;
    }
}
