.achievements {
    background: var(--black-900);
    color: var(--white-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 14px;
}
.achievements > h2 {
    font-family: var(--font-varela-round);
    font-size: 2rem;
}
  
.achievements_list {
    display: flex;
    gap: 162px;
}
.achievements_item {
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}
.achievements_item p {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 2px;
}
.achievements_item p {
    font-size: 1.25rem;
    line-height: 22px;
    font-weight: 300;
}


@media screen and (max-width: 1024px) {
    .achievements {
      gap: 36px;
    }
    .achievements_list {
      width: 100%;
      justify-content: space-around;
      gap: 10px;
    }
}
@media screen and (max-width: 768px) {
    .achievements {
        padding: 24px 10px;
    }
    .achievements > h2 {
        font-size: 1.25rem;
    }
    .achievements_list {
        flex-flow: row wrap;
        align-items: top;
        justify-content: center;
        row-gap: 24px;
        column-gap: 20px;
    }
    .achievements_item {
        max-width: fit-content;
        gap: 10px;
    }
    .achievements_item h3 {
        font-size: 1rem;
        letter-spacing: 1.5px;
    }
    .achievements_item p {
        font-size: 0.875rem;
    }
}
