.footer {
  background: var(--ecx-colours-second-blue);
  color: var(--white-900);
  margin-bottom: 0;
  display: grid;
  grid-template-areas:
    "details formContainer"
    "copyright copyright"
  ;
  column-gap: 60px;
  row-gap: 50px;
  justify-content: space-between;
}

.footer__details {
  max-width: 350px;
  grid-area: details;
}
.paragraph {
  font-size: 1.125rem;
  margin: 24px 0 10px;
}
.contact_links {
  width: 100%;
  font-size: 1rem;
  padding: 20px 0 40px;
}
.contact_link + .contact_link {
  margin-top: 10px;
}
.contact_link a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 16px;
  transition: filter 0.15s;
}
.contact_link a:hover {
  filter: brightness(0.85);
}
.socials__heading {
  font-family: var(--font-varela-round);
  font-size: 1.5rem;
  line-height: 110%;
  margin: 24px 0;
}
.socials_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.footer__form_ctn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: formContainer;
}
.footer__form_ctn h2 {
  font-family: var(--font-varela-round);
  font-size: 2rem;
  line-height: 110%;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 40px;
  border-radius: 24px;
  background: rgba(217, 217, 217, 0.02);
  padding: 40px;
  box-shadow: -5.305px 5.305px 5.305px 0px rgba(255, 255, 255, 0.24) inset, 5.305px -5.305px 5.305px 0px rgba(182, 182, 182, 0.24) inset;
  backdrop-filter: blur(8.753708839416504px);
}
.footer__form input, .footer__form textarea {
  font-family: var(--font-inter);
  font-size: 1.25rem;
  border-radius: 12px;
  border: 1px solid var(--white-900);
  background: #C4C4C485;
  padding: 18px 25px;
  color: var(--white-900);
}
.footer__form input::placeholder, .footer__form textarea::placeholder {
  color: var(--white-900);
}
.footer__form input {
  flex-grow: 1;
  height: 56px;
}
.footer__form textarea {
  width: 100%;
  flex-grow: 1;
  resize: none;
  min-height: 200px;
}
.footer__button {
  width: 100%;
  border-radius: 12px;
  background: var(--ecx-colours-ruby);
  padding: 17px;
  font-size: 1.25rem;
  font-family: var(--font-varela-round);
  color: var(--white-900);
  transition: filter 0.15s;
}
.footer__button:hover {
    filter: brightness(1.1);
}
.footer__button:active {
    filter: brightness(0.95);
}

.copyright {
  grid-area: copyright;
  text-align: center;
  font-size: 0.875rem;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-areas:
      "formContainer"
      "details"
      "copyright"
    ;
  }
  .footer__details {
    max-width: 100%;
  }
  .footer_logo {
    width: 150px;
    height: 40px;
  }
  .socials__heading {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .socials_links {
    justify-content: center;
  }
  .footer__form_ctn {
    gap: 24px;
  }
  .footer__form_ctn h2 {
    font-size: 1.25rem;
  }
  .footer__form {
    padding: 60px 30px;
    row-gap: 24px;
    border-radius: 24px;
  }
  .footer__form input, .footer__form textarea {
    font-size: 0.875rem;
    border-radius: 8px;
    padding: 10px 12px;
  }
  .footer__form input {
    height: 45px;
  }
  .footer__form textarea {
    min-height: 200px;
  }
  .footer__button {
    border-radius: 6px;
    padding: 14px;
    font-size: 0.875rem;
  }
  .copyright {
    font-size: 0.75rem;
    line-height: 183%;
  }
}
