.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero_text_ctn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.hero__title {
    font-size: 2.5rem;
    font-family: var(--font-varela-round);
    line-height: 110%;
    position: relative;
}
.hero__title::after {
    content: url(/hero-vector.svg);
    position: absolute;
    width: 26px;
    height: 25px;
    transform: translateX(-15px) translateY(-15px);
}
.hero__paragraph {
    padding-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 150%;
}
.hero__cta {
    background: var(--ecx-colours-ruby);
    border-radius: 6px;
    color: var(--white-900);
    font-family: var(--font-varela-round);
    font-size: 1.25rem;
    padding: 15px 25px;
}
.hero__img_ctn {
    width: 410px;
    height: 410px;
    position: relative;
    aspect-ratio: 1;
}
.hero_sqaure {
    position: absolute;
    width: 103%;
    height: 103%;
    top: -1.5%;
    left: -1.5%;
    border-radius: 24px;
}
.hero_sqaure_ruby {
    background-color: var(--ecx-colours-ruby);
}
.hero_sqaure_swift {
    background-color: var(--ecx-colours-swift);
    transform: rotate(9.093deg);
}
.hero_sqaure_dart {
    background-color: var(--ecx-colours-dart);
    transform: rotate(-8.296deg);
}
.hero__img {
    z-index: 10;
    border-radius: 24px;
}

@media screen and (max-width: 1280px) {
    .hero__img_ctn {
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }
    .hero_text_ctn {
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .hero_text_ctn {
        gap: 24px;
    }
    .hero__title {
        font-size: 1.5rem;
        line-height: 125%;
    }
    .hero__title::after {
        width: 23px;
        height: 20px;
        transform: translateX(-8px) translateY(-15px);
    }
    .hero__paragraph {
        font-size: 0.875rem;
    }
    .hero__cta {
        font-size: 1rem;
        padding: 0.75rem 1.75rem;
    }
    .hero__img_ctn {
        width: 17rem;
        height: 17rem;
    }
}