.ribbon {
    background-color: var(--ecx-colours-ruby);
    color: var(--white-900);
    padding: 12px 0;
    margin-bottom: 80px;
  }
  
.ribbon_item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 18px;
}

.ribbon_image {
    transform: rotate(4deg);
}

@media screen and (max-width: 768px) {
  .ribbon {
    padding: 8px 0;
    margin-bottom: 50px;
  }
  .ribbon_item {
    font-size: 0.875rem;
    margin: 0 12px;
    gap: 16px;
  }
}
