.navBar {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 2;
    position: relative;
}
.nav_logo {
    z-index: 10;
}

.nav_items {
    position: relative;
}

.menuIcon {
    position: relative;
    background: transparent;
    width: 35px;
    height: 30px;
    padding: 10px;
    display: none;
}

.nav_list {
    display: flex;
    gap: 30px;
    color: #FFF;
    font-size: 1.125rem;
    user-select: none;
}
.nav_list a {
    padding: 5px;
    transition: filter 0.15s;
}
.nav_list a:hover {
    filter: brightness(0.85);
}
.nav_cta {
    max-width: 146px;
    width: 35%;
    padding: 11px 15px;
    background: var(--ecx-colours-ruby);
    border-radius: 10px;
    color: var(--white-900);
    font-size: 1.25rem;
    font-family: var(--font-varela-round);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .navBar {
        gap: 15px;
    }
    .nav_list {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .noDisplay {
        visibility: hidden;
        opacity: 0;
    }
    .menuIcon {
        display: block;
    }
    .nav_items {
        width: 100%;
        height: 33px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        z-index: -1;
    }
    .nav_list {
        background: var(--ecx-colours-second-blue);
        box-shadow: #ffffff22 0px 6px 12px;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        gap: 0;
        transition: opacity 0.2s;
    }
    .nav_list li {
        text-align: center;
        display: flex;
    }
    .nav_list li a {
        padding: 18px 0;
        width: 100%;
    }
    .nav_list li + li {
        border-top: 1px solid white;
    }
    .nav_cta {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav_logo {
        width: 150px;
        height: 30px;
    }
    .menuIcon {
        width: 30px;
        height: 30px;
    }
}