.newsletter {
    color: var(--white-900);
}
.newsletter__ctn {
    border-radius: 19.21px;
    background-color: var(--ecx-colours-second-blue);
    padding: 86px 120px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.heading {
    font-family: var(--font-varela-round);
    font-size: 3rem;
    line-height: 110%;
    margin-bottom: 4px;
}
.paragraph {
    font-size: 1.25rem;
    line-height: 140%;
}
  
.newsletter__button {
    padding: 25px 65px;
    max-width: 100%;
    border-radius: 12px;
    background: var(--ecx-colours-dart);
    font-family: var(--font-varela-round);
    color: var(--white-900);
    font-size: 1.25rem;
    line-height: 110%;
    margin-top: 48px;
    transition: filter 0.15s;
}
.newsletter__button:hover {
    filter: brightness(1.1);
}
.newsletter__button:active {
    filter: brightness(0.95);
}

.icon_ctn__bottom {
    background: url(/icons/link-dart.svg);
    bottom: -60px;
    right: -45px;
}
.icon_ctn__top {
    background: url(/icons/link-ruby.svg);
    top: -60px;
    left: -45px;
}
.icon_ctn {
    position: absolute;
    transform: rotate(-28deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    aspect-ratio: 1;
}

  
@media screen and (max-width: 1024px) {
    .newsletter__ctn {
        padding: 86px 50px;
    }
    .icon_ctn {
        width: 160px;
    }
}

@media screen and (max-width: 640px) {
    .newsletter__ctn {
        padding: 35px 20px;
    }
    .heading {
        font-size: 1.25rem;
    }
    .paragraph {
        font-size: 0.75rem;
        margin-top: 8px;
    }
    .icon_ctn {
        display: none;
    }
    .newsletter__button {
      padding: 20px 50px;
      font-size: 0.875rem;
      margin-top: 32px;
    }
}
